.navbar-container {
  background-color: #0be5da;
  margin-top: 10px;
  padding-bottom: 5px;
}
.header-name {
  padding-top: 10px;
  font-size: 5rem;
  text-align: center;
  color: rgba(73, 35, 35, 0.755);
}
.links-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
button {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0px 5px;
  padding: 5px;
  background-color: #fb4303;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
}
button:active {
  border: 2px solid black;
  opacity: 0.8;
}
