.skills-container {
  background-color: var(--third-color);
}
.heading {
  text-align: center;
  font-size: 2.2rem;
}
.skills-display {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}
ol {
  margin: 30px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000;
}
