.projects-body {
  background-color: var(--third-color);
  min-height: 100vh;
}
.flex-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
section {
  max-width: 35%;
  font-size: 1.3rem;
  line-height: 1.5;
}
span {
  display: block;
  text-align: center;
}
.carousel-root {
  border: 3px solid #000;
}

@media (max-width: 500px) {
  .flex-content {
    flex-wrap: wrap;
  }
  section {
    text-align: start;
  }
  section,
  .carousel-root {
    min-width: 80%;
    order: 2;
  }
  .carousel-root {
    order: 1;
    border: none;
  }
}
