.projects-body {
  background-color: var(--third-color);
  min-height: 100vh;
}
.flex-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
section {
  max-width: 35%;
  padding: 5px 8px;
  font-size: 1.3rem;
  line-height: 1.5;
}
span {
  display: block;
  text-align: center;
}
section > p {
  text-indent: 20px;
}
.carousel-root {
  width: 600px;
  height: 500px;
  background-color: white;
}

@media (max-width: 500px) {
  .flex-content {
    flex-wrap: wrap;
  }
  section {
    text-align: start;
    padding: 10px;
  }
  section,
  .carousel-root {
    min-width: 80%;
    order: 2;
  }
  .carousel-root {
    order: 1;
    border: none;
    height: 250px;
  }
}
