* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body {
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

@import "css-styles/navbar.css";
@import "css-styles/skills-display.css";
@import "css-styles/projects-display.css";
