* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
:root {
  --primary-color: #0be5da;
  --secondary-color: #e30d5b;
  --third-color: #e0ffff;
}
body {
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

@import "css-styles/homepage/navbar.css";
@import "css-styles/homepage/skills-display.css";
@import "css-styles/homepage/projects-display.css";
@import "css-styles/more-projects/projects-body.css";
