* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
:root {
  --primary-color: #43e7df;
  --secondary-color: #3e77e2;
  --third-color: #c4f8f8;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}
@media (max-width: 500px) {
  body {
    padding: 0px;
  }
}

@import "css-styles/homepage/navbar.css";
@import "css-styles/homepage/skills-display.css";
@import "css-styles/homepage/projects-display.css";
@import "css-styles/more-projects/projects-body.css";
